@import '../variables.scss';

.SegmentTimeSpan {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .Segments {
        display: flex;
        flex-direction: row;
    }

    .TimeUnit {
        p {
            color: grey;
            font-family: 'Red Hat Text', sans-serif;
            text-align: center;
            font-size: 20px;
        }
    }
}