@import '../variables.scss';

.SegmentElement {
    width: 100px;

    .Segment {
        color: white;
        font-size: 72px;
        font-family: 'Red Hat Text', sans-serif;
        position: relative;
        
        &.left {
            position: relative;

            .dot {
                position: absolute;
                width: 16px;
                height: 16px; 
                background-color: hsl(236, 21%, 26%);;
                z-index: 10;
                left: -10%;
                top: 40%;
                border-radius: 10px;
              }
        }

        &.right {
            position: relative;
            
            .dot {
                position: absolute;
                width: 16px;
                height: 16px; 
                background-color: hsl(236, 21%, 26%);;
                z-index: 10;
                right: -10%;
                top: 40%;
                border-radius: 10px;
              }
        }
        

        &__display {
            position: relative;
            
            &--top, &--bottom {
                overflow: hidden;
                text-align: center;
                width: 100%;
                height: 50%;
                position: relative;
            }
            
            &--top {
                color: $SoftRed;
                line-height: 1.5;
                background-color: $VeryDarkBlue;
                border-radius: $BorderRadious;
            }
            
            &--bottom {
                color: $SoftRed;
                line-height: 0;
                background-color: $VeryDarkBlackBlue;
                border-radius: $BorderRadious;
                position: relative;
            }
        }
        
        &__overlay {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            perspective: 400px;
            
            // &.flip  {

            //     div {
            //         &:nth-child(1) {
            //             animation: flip-top 1s linear;
            //         }

            //         &:nth-child(2) {
            //             animation: flip-bottom 1s linear;
            //         }
            //     }
                
            // }

            &--top, &--bottom {
                position: absolute;
                overflow: hidden;
                text-align: center;
                width: 100%;
                height: 50%;
            }
            
            &--top {
                top: 0;
                line-height: 1.5;
                color: $SoftRed;
                transform-origin: bottom;
                background-color: $VeryDarkBlue;

                &.left {
                    border-top-left-radius: $BorderRadious;
                }

                &.right {
                    border-top-right-radius: $BorderRadious;
                }
            }
            
            &--bottom {
                bottom: 0;
                line-height: 0;
                color: $LightSoftRed;
                transform-origin: top;
                background-color: $VeryDarkBlackBlue;

                &.left {
                    border-bottom-left-radius: $BorderRadious;
                }

                &.right {
                    border-bottom-right-radius: $BorderRadious;
                }
            }
        }
    }
    
}

@keyframes flip-top {
    0% {
        transform: rotateX(0deg);
    }
    50%, 100% {
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom {
    0%, 50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}