@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

$SoftRed: hsl(345, 95%, 68%);
$LightSoftRed: hsl(345, 95%, 61%);

$VeryDarkBlue: hsl(235, 16%, 14%);
$VeryDarkBlackBlue: hsl(234, 17%, 12%);

$BorderRadious: 12px;

